.container {
  display: grid;
  padding: 0 12px;
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
  }
}

@media screen and (min-width: 936px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}

@media screen and (min-width: 936px) {
  .container {
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
